<div class="dipo-flex">
  <div class="home_link" >
    <a href="#">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span>Home</span>
    </a>
  </div>
  <div class="right_info">
    <div class="icon_wrap">
      <div class="icon">
        <button>
          <i class="fas fa-bell"></i>
            {{firstName}}
        </button>

      </div>
    </div>
    <div class="icon_wrap">
      <div class="icon">
        <i (click)="OnDeconnexion()" class="fa-solid fa-right-from-bracket"></i>
      </div>
    </div>
</div>
</div>
