
<div class="wrapper" style="background-image: url('../../../assets/img/header.jpg'); height: 100vh;">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header image-bg" data-rellax-speed="-7" ></div>


    </div>
    <div class="container">
      <div class="content-center brand">

        <h3>Gérer les cycles doctorals avec toute simplicité</h3>

        <h4>Grâce au premier portail des doctorants au Maroc</h4>
        <a *ngIf="true" [routerLink]="'/login'" class="btn btn-primary h5">S'authentifier</a>
        <a *ngIf="true" [routerLink]="'/menu'" class="btn btn-primary h5">Menu principal</a>

      </div>

    </div>
  </div>

